
@{
    ViewData["Title"] = "Mitä olen";
}
<a name="ankkuri"></a>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">YouTuben, Googlen ja Pinterestin suurkulutusta</h1>
        <p class="lead">Työkokemusta, harrastuneisuutta, sattumaa, perhettä ja vapaa-aikaa</p>
    
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <img src="~/images/mot1.png" class="img-thumbnail" style="margin-bottom: 20px" />
        </div>

        <div class="col-lg-4">
            <p>
               Olen työskennellyt käyttötavarakaupassa usealla eri tuotealueella. Olen toiminut lukuisien maailmanlaajuisten ja kotimaisten tuotemerkkien
                parissa ja toteuttanut niiden tavaratalokonseptia paikallisesti myymälässä. Muutamia mainitakseni: Adidas, Tiger of Sweden, Diesel, Dior, Lancome,
                Esprit, 7camizie, Turo, Benetton ja monta monta muuta.
            </p>
            
        </div>
        <div class="row">
            <div class="col-lg-2">
                <img src="~/images/mot2.png" class="img-thumbnail" style="margin-bottom: 20px" />
            </div>

            <div class="col-lg-4">
                <p>
                    Palvelutyössä saat olla oma itsesi ja persoonasi, mutta etenet kohtaamisissa aina asiakkaan tarpeen ja tilanteen huomioiden.
                    Se, myytkö designvaatetta, ihonhoitotuotteita vai viemäriputken eri kulmalla olevia putken osia asiakkaalle ei palvelurakenteeltaan juuri poikkea 
                    toisistaan. Sama asiakas voi olla palveltavana kaikissa näissä tilanteissa ja palvelun vaatimustaso on hyvin samanlainen, oli tuote mikä hyvänsä.
                </p>             
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <img src="~/images/mot3.png" class="img-thumbnail" style="margin-bottom: 20px" />
        </div>

        <div class="col-lg-4">
            <p>
                Siellä missä on paljon ihmisiä, on myös paljon henkilökuntaa. Tiimeissäni on ollut 12-25 henkeä, joissa olen työskennellyt eri rooleissa. Ollaan tehty yhdessä 
                arjen myyntityötä, toteutettu isoja kampanjoita ja viety läpi isoja muutoksia osastoilla ja toimintatavoissamme. Asiakkaan etu mielessä pidettynä mutta 
                erittäin tärkeä liiketoiminnallinen kannattavuus mielessä. Ei aina niin helppojakaan toimia tai pidettyjä, mutta maaliin on lopulta päästy.
            </p>           
        </div>
        <div class="row">
            <div class="col-lg-2">
                <img src="~/images/sovellus4.png" class="img-thumbnail" style="margin-bottom: 20px" />
            </div>

            <div class="col-lg-4">
                <p>
                  Työskentely puutarha-alalla on aina kiehtonut minua. Pääsin sisäisellä siirrolla kokeilemaan alaa silloisella työnantajallani puutarhamyymälässä.
                    Se johtikin vielä myöhemmin työskentelyyn kasvihuoneella, sisustus- ja kukkamyymälässä, kesäpihalla ja kukkakaupassa. Kokemuksen kruunasi pääsy oikealle
                    kukkapellolle. Loistavaa oppia harrastukselle!
                </p>         
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <img src="~/images/mot8.png" class="img-thumbnail" style="margin-bottom: 20px" />
        </div>

        <div class="col-lg-7" style="background-color:lightblue;">
            <br />
            <br />

            <p>
                Purjehtiminen ei ole rakettitiedettä, mutta perusteet on syytä opetella kunnolla. Aloittelijan ensimmäinen tehtävä on osata nostaa ja laskea purjeet, sekä tarpeen vaatiessa osata reivata isopurje tuulen yltyessä.
                Näitä taitoja kannattaa harjoitella rauhassa kevyessä kelissä ja turvallisessa paikassa ennen lähtöä tosikoitoksiin.
                Osuva netistä lainattu teksti.
            </p>
            <p>
                Lisäisin tärkeyslistan vielä: Tee mitä käsketään. Kyseenalaista vasta kotona. Veneessä ei kyseenalaisteta kipparin roolia eikä hän jakele käskyjä huvikseen. Vene voi kolahtaa laituriin tai toiseen veneeseen,
                jos et toimi juuri sillä sekunnilla.
            </p>

            <div style="background-color: white">
                <br />
                <p>
                    "Olet silloin perillä, kun olet veneessä" -näin minulle opetettiin purjehduksesta aloittaessani. Koskaan et voi tietää tarkkaan milloin olet perillä kohteessa tai  pääsetkö kohteeseen. Kiire ja hätiköinti ei
                    kuulu purjehdukseen. Laji vaatii tietoa ja suunnitelmallisuutta mutta lopputulos voi olla silti ihan muuta toista. Luonnonolosuhteiden mukaan oleminen opettaa kärsivällisyyttä ja rentouttaa. Myöskin se, että
                    ympärilläsi on vain rajattu tavaramäärä, joilla veneily"arki" toteutetaan tuo mielihyvää, kun huomaa miten vähillä asioilla me tulemmekaan toimeen päivittäisissä askareissa. Sopeutumiskyky, jos mikä on lajissa tarpeen.
                </p>
                <div style="background-color:lightblue;">
                    <br />
                    <p>
                        Purjehduskengät? Kapteenin lakki? Mahdollisimman ajankohtaiset aurinkolasit? Näitäkin tärkeämpi vesillä liikkujan varuste on pinnalla pitävät liivit.
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <p><img src="~/images/mot12.png" class="img-thumbnail" alt="testi"></p>
                <h3>Sovellukset</h3>
                <p>
                    Sovellusten käyttäjänä minulle on ollut tärkeintä, että ne toimivat moitteetta ja loogisesti ja käyttöönotto on helppoa. Ne myös auttaa, jos käyttäjänä toimin väärin.  Nyt kun silmäni on avattu aiheen suhteen, olen utelias
                    miten asiat toimii.
                    Tarvitsen nyt ohjausta ja opastusta, mistä jatkan syventävää perehtymistä.
                </p>
            </div>
            <div class="col-sm-3">

                <p><img src="~/images/mot5.png" class="img-thumbnail" alt="testi"></p>
                <h3>Tiimityö</h3>
                <p>
                    Neuvotteluissa roolini voi olla hyvinkin toisistaan poikkeava. Asiakasreklamaatio tai palautetilaisuuksissa roolini oli hyvin vastaanottavainen, collegoiden kanssa keskustellessa taas hyvin tasavertainen.
                    Opiskelijoiden arviointikeskusteluissa olin jo asiantuntijaroolissa, kun taas tavarantoimittajakeskusteluissa rooli oli monijakoinen: osin asiantuntija, osin lähes kuluttajarooli.
                </p>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/mot11.png" class="img-thumbnail" alt="testi"></p>
                <h3>Tulevaisuuden toivot</h3>
                <p>En ole työskennellyt päiväkodissa, mutta omistan kauniit lähimuistot aiheesta. Mielenkiintoinen ja tärkeä maailma, jossa varmasti digitalisatiolla saataisiin enemmän aikaa siirrettyä siihen tärkeimpään, eli lasten kanssa olemiseen.</p>
                <p>Joku viisas on sanonut, että jos haluat vaikuttaa ihmisiin ja tulevaisuuden kehitykseen, vaikuta lapsiin.</p>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/mo4t.png" class="img-thumbnail" alt="testi"></p>
                <h3>Numerointi</h3>
                <p>
                    Budjetointia, seurantaa, säästämistä, kampanjointia, hinnoittelua ja käytännön toimenpiteitä. Apuna suunnittelussa ja päätöksenteossa oli erilaisia sovelluksia liittyen esim. myyntiraportteihin, varastoraportteihin, budjetin tekoon, päivämyyntien tekoon tai tuotteiden hinnoitteluun.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">

                <p><img src="~/images/istuttaja.jpg" class="img-thumbnail" alt="testi"></p>
                <h3>Puutarhaunelmia</h3>
                <p>Puutarha on uusin harrastukseni, ja ensi kevät näyttänee sen, että kodissamme asuu innokas harrastaja. Pitkäjänteisyyttä vaatii tämäkin harrastus, mutta välillä on huippua kun saa olla kärsimätön ja panna vain toimeksi istuttaessaan tai uusia asioita suunnitellessaan.</p>
                <ul>
                    <li><a href="https://kevatmessut.messukeskus.com/">Hullaantumispäivät</a></li>
                </ul>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/mot7.png" class="img-thumbnail" alt="testi"></p>
                <h3>Remontoija</h3>
                <p>
                    Teen paljon kaikenlaista itse, käsin.
                    Tein viimeisen pintaremontin kotonamme itse: poistin tapettia, tasoitin, hioin, kittasin, maalasin, tapetoin ja viimeistelin. YouTube oli verraton apuri tässäkin projektissa.
                </p>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=NlPLG9uOkiQ">Jos jaksat kuunnella, mitä tässä puhutaan, selviät sinäkin tästä.</a></li>
                </ul>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/mot9.png" class="img-thumbnail" alt="testi"></p>
                <h3>Virkkaus</h3>
                <p>
                    Virkkauksen kieli menee jo koodikielestä, ilman "avaimia" siinä ei pääse alkuun. Onnistumisen ilo on huikea, kun työ näyttää suunnitellulta. Työ kulkee lisäksi helposti mukana
                    eikä ole aikaankaan sidottu. Ja mitä parasta, jo pienellä "osaamisella" mielikuvitus pääsee vauhtiin, ja alan työstää omaa versiotani ohjeesta alkuperäisen opittuani.
                </p>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=SauUAQJ5qsI&list=PLW34dRAgFFKqJ5gBGhFayQRxWlLl6GBUh">Näin pääset alkuun</a></li>
                    <li><a href="https://www.youtube.com/watch?v=jeU3C0LZaZ8">Sopivan pieni malli, mistä aloittaa</a></li>
                </ul>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/mot.png" class="img-thumbnail" alt="testi"></p>
                <h3>Elämä alamäessä</h3>
                <p>Parasta mitä talvella voi tehdä on laskettelu. Varsinkin omaan tahtiin (vauhtiin!!) ja talvisesta ilmasta nauttien. Olen käynyt Alpeillakin aiheen tiimoilta ja sinne haluan vielä useasti uudestaan. Ei Suomen Lapissa eikä Kolissa mitään vikaa ole, käy tilapäiseen Alppien kaipuuseen.</p>
                <ul>
                    <li><a href="http://www.alppimatkat.fi/">Alppimatkat</a></li>
                    <li><a href="http://www.koli.fi/fi/Rinteet/Rinnekamerat">Kolin rinnekamera</a></li>
                </ul>

            </div>
        </div>
    </div>
    <a href="#ankkuri">Sivun alkuun</a>
</div>
