
@{
    ViewData["Title"] = "Index";
}


<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">YouTuben, Googlen ja Pinterestin suurkulutusta</h1>
        <p class="lead">Työkokemusta, harrastuneisuutta, sattumaa, perhettä ja vapaa-aikaa</p>
    
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <img src="~/images/mot1.png" class="img-thumbnail" style="margin-bottom: 20px" />
        </div>

        <div class="col-lg-4">
            <p>
               Olen työskennellyt käyttötavarakaupassa usealla eri tuotealueella. Olen toiminut lukuisien maailmanlaajuisten ja kotimaisten tuotemerkkien
                parissa ja toteuttanut niiden tavaratalokonseptia paikallisesti myymälässä. Muutamia mainitakseni: Adidas, Tiger of Sweden, Diesel, Dior, Lancome,
                Esprit, 7camizie, Turo, Benetton ja monta monta muuta.
            </p>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <img src="~/images/mot2.png" class="img-thumbnail" style="margin-bottom: 20px" />
            </div>

            <div class="col-lg-4">
                <p>
                    Roolistasi huolimatta kohtaat erilaisia ihmisiä erilaisine tarpeineen päivittäin. Saat olla 
                    oma itsesi ja persoonasi, mutta etenet kohtaamisissa aina asiakkaan tarpeen ja tilanteen huomioiden.
                    Se, myytkö designvaatetta, ihonhoitotuotteita vai viemäriputken eri kulmalla olevia putken osia asiakkaalle ei palvelurakenteeltaan juuri poikkea 
                    toisistaan. Sama asiakas voi olla palveltavana kaikissa näissä tilanteissa ja palvelun vaatimustaso on hyvin samanlainen, oli tuote mikä hyvänsä.
                </p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <img src="~/images/mot3.png" class="img-thumbnail" style="margin-bottom: 20px" />
        </div>

        <div class="col-lg-4">
            <p>
                Siellä missä on paljon ihmisiä, on myös paljon henkilökuntaa. Tiimeissäni on ollut 12-25 henkeä, joissa olen työskennellyt eri rooleissa. Ollaan tehty yhdessä arjen myyntityötä, toteutettu isoja kampanjoita ja viety läpi isoja muutoksia osastoilla ja  esim. toimintatavoissamme. Asiakkaan etu mielessä pidettynä mutta erittäin tärkeä liiketoiminnallinen kannattavuus mielessä. Ei aina niin helppojakaan toimia tai pidettyjä, mutta maaliin on lopulta päästy.
            </p>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <img src="~/images/sovellus4.png" class="img-thumbnail" style="margin-bottom: 20px" />
            </div>

            <div class="col-lg-4">
                <p>
                   Puutarhassa, kukkakaupassa tai kasvihuoneessa työskentely on ihanaa!!!! tähän tekstiä
                </p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <img src="~/images/mot8.png" class="img-thumbnail" style="margin-bottom: 20px"/>
        </div>

        <div class="col-lg-7" style="background-color:lightblue;">
            <br/>
            <br/>

            <p>
                Purjehtiminen ei ole rakettitiedettä, mutta perusteet on syytä opetella kunnolla. Aloittelijan ensimmäinen tehtävä on osata nostaa ja laskea purjeet, sekä tarpeen vaatiessa osata reivata isopurje tuulen yltyessä. Näitä taitoja kannattaa harjoitella rauhassa kevyessä kelissä ja turvallisessa paikassa ennen lähtöä tosikoitoksiin.
            </p>
            <br/>
        
            <div style="background-color: white">

                <p>
                    "Olet silloin perillä, kun olet veneessä" -näin minulle opetettiin purjehduksesta kun aloitin. Koskaan et voi tietää tarkkaan milloin olet perillä kohteessa tai  pääsetkö kohteeseen. Kiire ja hätiköinti ei kuulu purjehdukseen. Laji vaatii tietoa ja suunnitelmallisuutta mutta lopputulos voi olla silti ihan muuta toista. Luonnonolosuhteiden mukaan oleminen opettaa kärsivällisyyttä ja rentouttaa. Myöskin se, että ympärilläsi on vain rajattu tavaramäärä, joilla veneily"arki" toteutetaan tuo mielihyvää, kun huomaa miten vähillä asioilla me tulemmekaan toimeen päivittäisissä askareissa. Sopeutumiskyky, jos mikä on lajissa tarpeen.
                </p>
                <div style="background-color:lightblue;">
                    <br />
                    <p>
                        Purjehduskengät? Kapteenin lakki? Mahdollisimman ajankohtaiset aurinkolasit? No joopa joo. Vielä selvästi näitäkin tärkeämpi vesillä liikkujan varuste on pinnalla pitävät liivit.
                    </p>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>

        </div>
</div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">

                            <p><img src="~/images/mot12.png" class="img-thumbnail" alt="testi"></p>
                            <h3>Ohjelmointimaailma</h3>
                            <p>
                               Tämä on uusin mielenkiintoni, pohjaton maailma, josta uskon paikan minullekin löytyvän.
                            </p>
</div>
                        <div class="col-sm-3">

                            <p><img src="~/images/mot5.png" class="img-thumbnail" alt="testi"></p>
                            <h3>Tiimityö</h3>
                            <p>Neuvotteluissa roolini voi olla hyvinkin toisistaan poikkeava. Toisinaan olin vastaanottavampi puoli, esim asiakaspalautteissa tai -raadeissa, toisinaan taas tasavertainen neuvottelija esim collegoiden kanssa asioista sovittaessa. Opiskelijarviointi keskusteluissa olin lähes jo asiantuntijaroolissa, kun taas tavarantoimittajakeskusteluissa olin lähes kuluttajan roolissa</p>
                            <ul>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                            </ul>

                        </div>
                        <div class="col-sm-3">

                            <p><img src="~/images/mot11.png" class="img-thumbnail" alt="testi"></p>
                            <h3>Tulevaisuuden toivot</h3>
                            <p>En ole työskennellyt päiväkodissa, mutta omistan kauniit lähimuistot aiheesta. Mielenkiintoinen ja tärkeä maailma, jossa varmasti digitalisatiolla saataisiin enemmän aikaa siirrettyä siihen tärkeimpään, eli lasten kanssa olemiseen.</p>
                            <ul>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                            </ul>

                        </div>
                        <div class="col-sm-3">

                            <p><img src="~/images/mo4t.png" class="img-thumbnail" alt="testi"></p>
                            <h3>Numerointi</h3>
                            <p>Budjetointia, seurantaa, säästämistä, kampanjointia, hinnoittelua ja käytännöntoimenpiteitä. Tästä on myös myyntipäällikön tai tuoteryhmävastaavan työ tehty. Apuna suunnittelussa ja päätöksenteossa oli erilaisia sovelluksia liittyen esim. myyntiraportteihin, varastoraportteihin, budjetin tekoon, päivämyyntien tekoon tai tuotteiden hinnoitteluun.</p>
                            <ul>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">

                            <p><img src="~/images/istuttaja.jpg" class="img-thumbnail" alt="testi"></p>
                            <h3>istuttaja</h3>
                            <p>Puutarha on uusin harrastukseni, ja ensi kevät näyttänee sen, että kodissamme asuu innokas harrastaja. Pitkäjänteisyyttä vaatii tämäkin harrastus, mutta välillä on huippua kun saa olla kärsimätön ja panna vain toimeksi istuttaessaan tai uusia asioita suunnitellessaan.</p>
                            <ul>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                            </ul>

                        </div>
                        <div class="col-sm-3">

                            <p><img src="~/images/mot7.png" class="img-thumbnail" alt="testi"></p>
                            <h3>remontoija</h3>
                            <p>
                                Teen paljon kaikenlaista itse, käsin.
                                Tein viimeisen pintaremontin kotonamme itse: poistin tapettia, tasoitin, hioin, kittasin, maalasin, tapetoin ja viimeistelin. YouTube oli verraton apuri tässäkin projektissa.
                            </p>
                            <ul>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                            </ul>

                        </div>
                        <div class="col-sm-3">

                            <p><img src="~/images/mot9.png" class="img-thumbnail" alt="testi"></p>
                            <h3>Päiväkoti</h3>
                            <p>Virkkauksen kieli menee jo koodikielestä, ilman "avaimia" siinä ei pääse alkuun. Onnistumisen ilo on huikea, kun työ näyttää suunnitellulta. Työ kulkee lisäksi helposti mukana eikä ole aikaankaan sidottu. Ja mitä parasta, jo pienellä "osaamisella" mielikuvitus pääsee vauhtiin, ja alan suoltaa omaa malliani ohjeesta alkuperäisen opittuani.</p>
                            <ul>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                            </ul>

                        </div>
                        <div class="col-sm-3">

                            <p><img src="~/images/mot.png" class="img-thumbnail" alt="testi"></p>
                            <h3>Elämä alamäessä</h3>
                            <p>Parasta mitä talvella voi tehdä on laskettelu. Varsinkin omaan tahtiin (vauhtiin!!) ja talvisesta ilmasta nauttien. Olen käynyt Alpeillakin aiheen tiimoilta ja sinne haluan vielä useasti uudestaan. Ei Suomen Lapissa eikä Kolissa mitään vikaa ole, käy tilapäiseen Alppien kaipuuseen.</p>
                            <ul>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                            </ul>

                        </div>
                    </div>                    
                </div>
            </div>
