
@{
    ViewData["Title"] = "Index";
}


<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Kokemukseni</h1>
        <p class="lead">Tälle sivulle tulee mitä olen tehnyt, ei tämän näköisenä vaan jotain kivempaa</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <img src="~/images/mot1.png" class="img-thumbnail" style="margin-bottom: 20px" />
        </div>

        <div class="col-lg-4">
            <p>
               Olen työskennellyt käyttötavarakaupassa usealla eri tuotealueella. Olen toiminut lukuisien maailmanlaajuisten ja kotimaisten tuotemerkkien
                parissa ja toteuttanut niiden tavaratalokonseptia paikallisesti myymälässä. Muutamia mainitakseni: Adidas, Tiger of Sweden, Diesel, Dior, Lancome,
                Esprit, 7camizie, Turo, Benetton ja monta monta muuta.
            </p>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <img src="~/images/pikku200.jpg" class="img-thumbnail" style="margin-bottom: 20px" />
            </div>

            <div class="col-lg-4">
                <p>
                    Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain breakpoints,
                    your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and o
                    your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and o
                    your columns don't clear quite right as one is taller than the other.
                </p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6" style="background-color:lightblue;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="col-lg-6" style="background-color:pink;">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </div>
 </div>

   




    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <p><img src="~/images/istuttaja.jpg" class="img-thumbnail" alt="testi"></p>
                <h3>Column 1</h3>
                <p>Alan vaihtaja päätyi koodaajakoulutukseen….Suuntaa ja uutta alaani etsiessäni olen entisöinyt, remontoinut, askarrellut, virkannut, työskennellyt kukkakaupassa, puutarhamyymälässä, tehnyt puutarhatöitä ja rakennelmia, sitonut kukkakimppuja,.. Kaikesta olen nauttinut suunnattomasti, ja välillä hämmästellyt itsekin mihin ihminen pystyy nauttiessaan tekemisestä ja antaessaan ideoiden vain tulla.</p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/istuttaja.jpg" class="img-thumbnail" alt="testi"></p>
                <h3>Column 1</h3>
                <p>Alan vaihtaja päätyi koodaajakoulutukseen….Suuntaa ja uutta alaani etsiessäni olen entisöinyt, remontoinut, askarrellut, virkannut, työskennellyt kukkakaupassa, puutarhamyymälässä, tehnyt puutarhatöitä ja rakennelmia, sitonut kukkakimppuja,.. Kaikesta olen nauttinut suunnattomasti, ja välillä hämmästellyt itsekin mihin ihminen pystyy nauttiessaan tekemisestä ja antaessaan ideoiden vain tulla.</p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/istuttaja.jpg" class="img-thumbnail" alt="testi"></p>
                <h3>Column 1</h3>
                <p>Alan vaihtaja päätyi koodaajakoulutukseen….Suuntaa ja uutta alaani etsiessäni olen entisöinyt, remontoinut, askarrellut, virkannut, työskennellyt kukkakaupassa, puutarhamyymälässä, tehnyt puutarhatöitä ja rakennelmia, sitonut kukkakimppuja,.. Kaikesta olen nauttinut suunnattomasti, ja välillä hämmästellyt itsekin mihin ihminen pystyy nauttiessaan tekemisestä ja antaessaan ideoiden vain tulla.</p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/istuttaja.jpg" class="img-thumbnail" alt="testi"></p>
                <h3>Column 1</h3>
                <p>Alan vaihtaja päätyi koodaajakoulutukseen….Suuntaa ja uutta alaani etsiessäni olen entisöinyt, remontoinut, askarrellut, virkannut, työskennellyt kukkakaupassa, puutarhamyymälässä, tehnyt puutarhatöitä ja rakennelmia, sitonut kukkakimppuja,.. Kaikesta olen nauttinut suunnattomasti, ja välillä hämmästellyt itsekin mihin ihminen pystyy nauttiessaan tekemisestä ja antaessaan ideoiden vain tulla.</p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">

                <p><img src="~/images/istuttaja.jpg" class="img-thumbnail" alt="testi"></p>
                <h3>Column 1</h3>
                <p>Alan vaihtaja päätyi koodaajakoulutukseen….Suuntaa ja uutta alaani etsiessäni olen entisöinyt, remontoinut, askarrellut, virkannut, työskennellyt kukkakaupassa, puutarhamyymälässä, tehnyt puutarhatöitä ja rakennelmia, sitonut kukkakimppuja,.. Kaikesta olen nauttinut suunnattomasti, ja välillä hämmästellyt itsekin mihin ihminen pystyy nauttiessaan tekemisestä ja antaessaan ideoiden vain tulla.</p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/istuttaja.jpg" class="img-thumbnail" alt="testi"></p>
                <h3>Column 1</h3>
                <p>Alan vaihtaja päätyi koodaajakoulutukseen….Suuntaa ja uutta alaani etsiessäni olen entisöinyt, remontoinut, askarrellut, virkannut, työskennellyt kukkakaupassa, puutarhamyymälässä, tehnyt puutarhatöitä ja rakennelmia, sitonut kukkakimppuja,.. Kaikesta olen nauttinut suunnattomasti, ja välillä hämmästellyt itsekin mihin ihminen pystyy nauttiessaan tekemisestä ja antaessaan ideoiden vain tulla.</p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/istuttaja.jpg" class="img-thumbnail" alt="testi"></p>
                <h3>Column 1</h3>
                <p>Alan vaihtaja päätyi koodaajakoulutukseen….Suuntaa ja uutta alaani etsiessäni olen entisöinyt, remontoinut, askarrellut, virkannut, työskennellyt kukkakaupassa, puutarhamyymälässä, tehnyt puutarhatöitä ja rakennelmia, sitonut kukkakimppuja,.. Kaikesta olen nauttinut suunnattomasti, ja välillä hämmästellyt itsekin mihin ihminen pystyy nauttiessaan tekemisestä ja antaessaan ideoiden vain tulla.</p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>

            </div>
            <div class="col-sm-3">

                <p><img src="~/images/istuttaja.jpg" class="img-thumbnail" alt="testi"></p>
                <h3>Column 1</h3>
                <p>Alan vaihtaja päätyi koodaajakoulutukseen….Suuntaa ja uutta alaani etsiessäni olen entisöinyt, remontoinut, askarrellut, virkannut, työskennellyt kukkakaupassa, puutarhamyymälässä, tehnyt puutarhatöitä ja rakennelmia, sitonut kukkakimppuja,.. Kaikesta olen nauttinut suunnattomasti, ja välillä hämmästellyt itsekin mihin ihminen pystyy nauttiessaan tekemisestä ja antaessaan ideoiden vain tulla.</p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>

            </div>
        </div>


        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>

        <img src="/images/alppiruusuSyksy.jpg" alt="esimerkkikuva" width="1000" height="1000">);
    </div>
</div>
