@{
    ViewData["Title"] = "CodeBootCamp ---tiedon tykitystä 15 päivän ajan";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["CodeBootCamp ---tiedon tykitystä 15 päivän ajan"]</h3>


<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="~/images/parasKasite.png" />
    </div>
    <div class="col-md-6">
        <h3>Käsitteet ja ohjelmistot kohdalleen</h3>
        <p>Aloittelijalle Bootcampin tekniset esimerkit ovat menneet usein yli ymmärryksen, joten olen keskittynyt luomaan oman käsitekarttani läpi käydyistä aiheista.
        Saan näin kokonaiskuvan itselleni ja rakennettua polun, mitä myöten ryhtyä itse opiskelemaan alaa lisää myöhemmin.

        </p>
        <h3>Pitää ymmärtää kopioidakseen</h3>
        <p>
            Koodeja ei voi vain aivottomana kopioida. Etsiminenkin pitää alkuun opetella. Silmä harjaantuu nopeasti bongaamaan selkeäopasteiset sivut ja
            hakemaan sieltä omaan käyttötarkoitukseen sopivan valmiin tai muokkauskelpoisen. Olen tehtävissä ja itsenäisessä harjoittelussa tehnyt tätä huoletta, sillä
            se on osoittautunut opettavaiseksi.

        </p>
        <h3>Tekemällä oppii</h3>
        <p>
            Näin on, selvittäminen vie alkuun aikaa, ja matkalla löytyykin toinen parempi, lentoo lähtevä idea... välillä tuskastuttaa, kun haluaisi jo
            että näkisi <a href="http://www.commitstrip.com/en/2014/11/25/west-side-project-story/">valmista.</a>
        </p>
        <p> Frontend -työskentelyssä mennään aikamonen perinteisen ammatin tontille: ad, graafinen suunnittelij, copywriter, valokuvaaja... Tämä on mielenkiintoinen combo.</p>
        <h3>Minua kiinnostaa eniten</h3>
        <p>
           Haluan oppia JavaSkriptia, Bootsrapia ja  Reactia. Wordpress kuuluu myös ehdottomasti opintoihini. C# oli haastava minulle, mutta siihen haluan tutustua myöhemmin lisää.
            SQL tietokantojen kanssa työskentely olisi myös kiehtovaa.
        </p>
        <p>Työssä oppiminen ja samalla alan opiskelu sopii minulle parhaiten. Saan hyödyn heti molemmin puolin käyttöön ja oppiminen itsessään ruokkii itseään.</p>
    </div>
</div>
