@{
    ViewData["Title"] = "OPPI";
}
<h2>@ViewData[""]</h2>
<h3>@ViewData[""]</h3>

<h3>Käsitteet ja työkalut paikoilleen</h3>
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="~/images/parasKasite.png" />
    </div>
    <div class="col-md-6">
        <p>
         Koulutuksen anti oli minulle alan käsitteistön ja ohjelmistomaailman yleinen ymmärrys, mitä oheinen jäävuori -malli
         kuvaa. Ymmärrän, mihin menetelmät ja työkalut liittyvät ja mihin niitä voidaan käyttää.
        </p>

        <h3>Pitää ymmärtää kopioidakseen</h3>
        <p>
            Alkuun päästäkseen pitää osata etsiä tietoa. Koodinpätkiä ei voi vain aivottomana kopioida. Jo kopioidakseen täytyy ymmärtää mitä kopioi, mitä tarkoitusta varten kopioi ja tärkeintä: mitä kopioitava asia tarkoittaa?
            Tämäkin on opettavainen tapa päästä alkuun, joskin ei vielä kovin ammattitaitoinen tapa.
        </p>

        <h3>Tekemällä oppii</h3>
        <p>
            Näin on, selvittäminen vie alkuun aikaa, ja matkalla löytyykin toinen parempi, lentoo lähtevä idea... välillä tuskastuttaa, kun haluaisi jo
            että näkisi <a href="http://www.commitstrip.com/en/2014/11/25/west-side-project-story/">valmista.</a>
        </p>
        <p> Frontend -työskentelyssä koodaaja ja web -sivujen tekijä menee usean perinteisen ammattilaisen tontille: ad, graafinen suunnittelija, copywriter, valokuvaaja... Tämä on mielenkiintoista,
        puhuvatko he samaa kieltä? Entäs Backend -osaaja?</p>

        <h3>Minua kiinnostaa eniten</h3>
        <p>
           Haluan oppia JavaSkriptia, Bootsrapia ja  Reactia. Wordpress myös kiinnostaa. C# oli haastava minulle, mutta siihen ja backendiin sopivan selkeinä osina haluan tutustua myöhemmin lisää.
            SQL tietokantojen kanssa työskentely olisi myös kiehtovaa.
        </p>
        <p>Toisiaan täydentävä työssä oppiminen ja opiskelu sopivat minulle parhaiten. En sulje mitään alan työtehtävää pois vähäisen työtehtävätuntemuksen vuoksi.
        Kaikenlaiset alan tehtävät ovat minulle arvokasta oppia, ja yleensä ne ovat osa jotain kokonaisuutta.</p>
    </div>
</div>
