@{
    ViewData["Title"] = "heti alla olevien viewdata juttujen jälkeen kun ei sulkuihin laita mitään, ei tule yläotsikkoa, jos et halua";
}
<h2>@ViewData[""]</h2>
<h3>@ViewData[""]</h3>
                                                        <!--IDEASIVU  TÄLLE SIVULLE ÄLÄ TESTAA MITÄÄN, TÄMÄ ON OIKEALLA PAIKALLA -->
<style>
    body {
        font-family: "Lato", sans-serif;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
            .sidenav a:hover {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 35px;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

            .sidenav a {
                font-size: 18px;
            }
    }
</style>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#sovellus1">Sovellus 1</a>
    <a href="#sovellus2">Sovellus 2</a>
    <a href="#sovellus3">Sovellus 3</a>
    <a href="#sovellus4">Sovellus 4</a>
    <a href="#sovellus5">Sovellus 5</a>
    <a href="#sovellus6">Sovellus 6</a>
    <a href="#sovellus7">Sovellus 7</a>
    <a href="#sovellus8">Sovellus 8</a>
    <a href="#sovellus9">Sovellus 9</a>
    <a href="#sovellus10">Sovellus 10</a>
    <a href="#sovellus11">Sovellus 11</a>
    <a href="#sovellus12">Sovellus 12</a>
    <a href="#sovellus13">Sovellus 13</a>
 
</div>

<div id="main">
    <h2>TÄHÄN TULEE OTSIKKO!--- SOVELLUSIDEOITA ----Sidenav Push Example</h2>
    <br />
    <br />
    <p>
        Se että ei vielä kaikkea ymmärrä, ei estä ideoiden syntymistä. Haluta voi vielä vaikka mitä, kun ei ymmärrä liikaa, että huomaisi
        asian olevan liian monimutkaista taidoilleen tai yksinkertaisesti ei vain olisi aikaa jalostaa ideaansa ikinä koskaan yhtään pidempään.
        Click on the element below to open the side navigation menu, and push this content to the right.
        Click on the element below to open the side navigation menu, and push this content to the right
    </p>
    <br />

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Sovellusluettelo</span>
    <br />
    <br />
  
</div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/sovellus1.png" class="img-thumbnail" style="margin-top: 20px" />
        </div>
        <div class="col-md-8">
            <h3 id="sovellus1">SOVELLUS 1 Viriilisti verkossa ikääntyville</h3>
            <p>
                Kysyttävää: MITEN LINKITYS VASEMMAN SIVUN NAVBARIIN KUVIEN OTSIKOISTA TAPAHTUIKAAN? you're bound to run into issues where, at certain breakpoints,
                HALUAISIN ETTÄ VIELÄ PUOLEN NÄYTÖN KOOSSA TEKSTI OLISI KUVAN VIERESSÄ, KUINKA SE TEHDÄÄN?. To fix that, use a combination of a .clearfix and o
             </p>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/sovellus2.png" class="img-thumbnail" style="margin-top: 20px" />
        </div>
        <div class="col-md-8">
            <h3 id="sovellus2">SOVELLUS 2 Pielisen pinta</h3>
            <p>
                Kysyttävää: MITEN LINKITYS VASEMMAN SIVUN NAVBARIIN KUVIEN OTSIKOISTA TAPAHTUIKAAN?
                you're bound to run into issues where, at certain breakpoints,
                HALUAISIN ETTÄ VIELÄ PUOLEN NÄYTÖN KOOSSA TEKSTI OLISI KUVAN VIERESSÄ, KUINKA SE TEHDÄÄN?.
                To fix that, use a combination of a .clearfix and o

            </p>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/sovellus3.png" class="img-thumbnail" style="margin-top: 20px" />
        </div>
        <div class="col-md-8">
            <h3 id="sovellus3">SOVELLUS 3 Päiväkotiappi</h3>
            <p>
                Kysyttävää: MITEN LINKITYS VASEMMAN SIVUN NAVBARIIN KUVIEN OTSIKOISTA TAPAHTUIKAAN? you're bound to run into issues where, at certain breakpoints,
                HALUAISIN ETTÄ VIELÄ PUOLEN NÄYTÖN KOOSSA TEKSTI OLISI KUVAN VIERESSÄ, KUINKA SE TEHDÄÄN?. To fix that, use a combination of a .clearfix and o

            </p>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/sovellus4.png" class="img-thumbnail" style="margin-top: 20px" />
        </div>
        <div class="col-md-8">
            <h3 id="sovellus4">SOVELLUS 4 Kukan kasvatuspeli</h3>
            <p>
                Kysyttävää: MITEN LINKITYS VASEMMAN SIVUN NAVBARIIN KUVIEN OTSIKOISTA TAPAHTUIKAAN?
                you're bound to run into issues where, at certain breakpoints,
                HALUAISIN ETTÄ VIELÄ PUOLEN NÄYTÖN KOOSSA TEKSTI OLISI KUVAN VIERESSÄ, KUINKA SE TEHDÄÄN?.
                To fix that, use a combination of a .clearfix and o
            </p>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/sovellus5.png" class="img-thumbnail" style="margin-top: 20px" />
        </div>
        <div class="col-md-8">


            <h3 id="sovellus5">SOVELLUS 5 Eskarin/alakoululaisen rutiineihin oppimispeli</h3>
            <p>
                Kysyttävää: MITEN LINKITYS VASEMMAN SIVUN NAVBARIIN KUVIEN OTSIKOISTA TAPAHTUIKAAN?
                you're bound to run into issues where, at certain breakpoints,
                HALUAISIN ETTÄ VIELÄ PUOLEN NÄYTÖN KOOSSA TEKSTI OLISI KUVAN VIERESSÄ, KUINKA SE TEHDÄÄN?.
                To fix that, use a combination of a .clearfix and o
            </p>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
            </ul>
        </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="~/images/sovellus6.png" class="img-thumbnail" style="margin-top: 20px" />
            </div>
            <div class="col-md-8">


                <h3 id="sovellus6">SOVELLUS 6 Mitä syödään Joensuussa</h3>
                <p>
                    Kysyttävää: MITEN LINKITYS VASEMMAN SIVUN NAVBARIIN KUVIEN OTSIKOISTA TAPAHTUIKAAN?
                    you're bound to run into issues where, at certain breakpoints,
                    HALUAISIN ETTÄ VIELÄ PUOLEN NÄYTÖN KOOSSA TEKSTI OLISI KUVAN VIERESSÄ, KUINKA SE TEHDÄÄN?.
                    To fix that, use a combination of a .clearfix and o
                </p>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                </ul>
            </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/sovellus7.png" class="img-thumbnail" style="margin-top: 20px" />
                </div>
                <div class="col-md-8">


                    <h3 id="sovellus7">SOVELLUS 7 Joensuun tapahtumasovellus</h3>
                    <p>
                        Kysyttävää: MITEN LINKITYS VASEMMAN SIVUN NAVBARIIN KUVIEN OTSIKOISTA TAPAHTUIKAAN?
                        you're bound to run into issues where, at certain breakpoints,
                        HALUAISIN ETTÄ VIELÄ PUOLEN NÄYTÖN KOOSSA TEKSTI OLISI KUVAN VIERESSÄ, KUINKA SE TEHDÄÄN?.
                        To fix that, use a combination of a .clearfix and o
                    </p>
                    <ul>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                    </ul>
                </div>
                </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/sovellus8.png" class="img-thumbnail" style="margin-top: 20px" />
                </div>
                <div class="col-md-8">


                    <h3 id="sovellus8">SOVELLUS 8 Joensuun julkisen liikenteen mobiiliaplikaatio</h3>
                    <p>
                        Kysyttävää: MITEN LINKITYS VASEMMAN SIVUN NAVBARIIN KUVIEN OTSIKOISTA TAPAHTUIKAAN?
                        you're bound to run into issues where, at certain breakpoints,
                        HALUAISIN ETTÄ VIELÄ PUOLEN NÄYTÖN KOOSSA TEKSTI OLISI KUVAN VIERESSÄ, KUINKA SE TEHDÄÄN?.
                        To fix that, use a combination of a .clearfix and o
                    </p>
                    <ul>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                    </ul>
                </div>
                </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/sovellus9.png" class="img-thumbnail" style="margin-top: 20px" />
                </div>
                <div class="col-md-8">


                    <h3 id="sovellus9">SOVELLUS 9 Yksinkertainen järjestys valokuviin</h3>
                    <p>
                        Kysyttävää: MITEN LINKITYS VASEMMAN SIVUN NAVBARIIN KUVIEN OTSIKOISTA TAPAHTUIKAAN?
                        you're bound to run into issues where, at certain breakpoints,
                        HALUAISIN ETTÄ VIELÄ PUOLEN NÄYTÖN KOOSSA TEKSTI OLISI KUVAN VIERESSÄ, KUINKA SE TEHDÄÄN?.
                        To fix that, use a combination of a .clearfix and o
                    </p>
                    <ul>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                    </ul>
                    </div>
 </div>

                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/sovellus10.png" class="img-thumbnail" style="margin-top: 20px" />
                    </div>
                    <div class="col-md-8">


                        <h3 id="sovellus10">SOVELLUS 10 Alan XX toiminta digiaikaan</h3>
                        <p>
                            Kysyttävää: MITEN LINKITYS VASEMMAN SIVUN NAVBARIIN KUVIEN OTSIKOISTA TAPAHTUIKAAN?
                            you're bound to run into issues where, at certain breakpoints,
                            HALUAISIN ETTÄ VIELÄ PUOLEN NÄYTÖN KOOSSA TEKSTI OLISI KUVAN VIERESSÄ, KUINKA SE TEHDÄÄN?.
                            To fix that, use a combination of a .clearfix and o
                        </p>
                        <ul>
                            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">linkki aiheeseen</a></li>
                            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">aasinsilta aiheeseen</a></li>
                        </ul>
                    </div>



                </div>


