@{
    ViewData["Title"] = "heti alla olevien viewdata juttujen jälkeen kun ei sulkuihin laita mitään, ei tule yläotsikkoa, jos et halua";
}
<h2>@ViewData[""]</h2>
<h3>@ViewData[""]</h3>
                                                        <!--IDEASIVU  TÄLLE SIVULLE ÄLÄ TESTAA MITÄÄN, TÄMÄ ON OIKEALLA PAIKALLA -->
<style>
    body {
        font-family: "Lato", sans-serif;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
            .sidenav a:hover {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 35px;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

            .sidenav a {
                font-size: 18px;
            }
    }
</style>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#sovellus1">Verkkotreffit</a>
    <a href="#sovellus2">Pielisen pinta</a>
    <a href="#sovellus3">Päiväkotiappi</a>
    <a href="#sovellus4">Flowering</a>
    <a href="#sovellus5">Eskappi</a>
    <a href="#sovellus6">Lounasaika</a>
    <a href="#sovellus7">Tapahtumat</a>
    <a href="#sovellus8">OnlineBussi</a>
    <a href="#sovellus9">Tolkku</a>
    <a href="#sovellus10">Digiaika</a>
    <a href="#sovellus11">Lahjakortti</a>
 
</div>

<div id="main">
    <h2>SOVELLUSIDEOITA</h2>
    <br />
    <br /> <!--nämä välit ovat sen takia, että ylänavbarin alle jäisi vähemmän tärkeää tekstiä piiloon-->
    <p>
        Kun projektin suuruutta ei vielä hahmota ja taidoissa ollaan vasta alussaan, taitotaso ei näin ainakaan jarruta ideoiden syntymistä. Tiedon lisääntyessä ja erilaisten mahdollisuuksen olemassaolon ymmärtäminen on
        juoksuttanut ajatuskulkua iloisesti: mitä kaikkea sitä voisikaan tehdä! Olen koonnut tähän osan kuukauden aikana syntyneistä ideoista. Ensimmäinen ja kolmas ideat ovat syntyneet palvelumuotoilukurssilla,
        missä pohdittiin vahvasti kuluttajalähtöisiä palveluja sotealalle. Palvelumuotoilun ajatusmallit soveltuvat monelle muullekin alalle. Mitä tahansa ideaa jatkojalostaisin mielelläni
        yhdessä tiimissä ja opettelisin työnkulkua tehden asioita osaamisen kehittyessä myös itse.
    </p>
    <p>Eniten pidän viimeisestä ideasta, jonka siemen tuli kauneushoitolatuttavalta.</p>
    <br />

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Sovellusluettelo</span>
    <br />
    <br />
  
</div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/sovellus1.png" class="img-thumbnail" style="margin-top: 20px" />
        </div>
        <div class="col-md-8">
            <h3 id="sovellus1">Verkkotreffit</h3>
            <p>
                Ikäihmisten treffipalvelu, jossa ei etsitä kumppania vaan seuraa lenkille, kirjastoon tai vaikka jonkin harrastuksen aloittamiseen. Yksinkertainen käyttöliittymä, jossa kirjautumisvaihe tehdään nimimerkillä tietokoneella, 
                joka on yleensä käyttäjille jo  alkuun mobiilia tutumpi. Kirjautumisen jälkeen voi itse ehdottaa tapaamista jonkin asian tiimoilta, tai katsoa onko joku muu ehdottanut jotain mielenkiintoista aihetta. Edistyessään palvelua 
                voi ryhtyä käyttämään mobiilisovelluksella.
            </p>
            <p>Vanhusten yksinäisyys lisääntyy ja välillä se nousee kovasti otsikoihin. Kaikki keinot sen ehkäisemiseksi pitää ottaa käyttöön. Vanhukset ovat yhä taitavampia teknologiassa, laskut maksetaan
            tietokoneella ja suurella osalla on älykännykkä. Sovelluksia heidän ehdoillaan pitäisi vielä vaan olla paremmin tarjolla.</p>
            <ul>
                <li><a href="https://www.kaleva.fi/uutiset/kotimaa/tuore-tutkimus-kertoo-yksinaisyys-syo-ikaihmisten-elamasta-laadun/770813/">Yksinäisyys syö elämänlaatua</a></li>
                <li><a href="https://yle.fi/aihe/digitreenit">Helppoa digitreeniä on tarjolla</a></li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/sovellus2.png" class="img-thumbnail" style="margin-top: 20px" />
        </div>
        <div class="col-md-8">
            <h3 id="sovellus2">Pielisen pinta</h3>
            <p>
                Pielisen vedenkorkeus vaihtelee valtavasti kevät-syyskauden aikana, rantaviiva voi siirtyä 2-3 metriä. Seuraaminen voisi olla mielenkiintoista ja sovellus vaivan arvoista rakentaa.
                <ul>
                    <li>Veden korkeuden tiedot tietokannasta, joku toinen järvi mukana vertailun vuoksi</li>
                    <li>karttapohja, missä näkisi veden rajan siirtymisen graafisesti</li>
                    <li>Animaatio tms.  jossa kun on vesi riittävän alhaalla voi kuvitteellisesta omasta mökkilaituristaan rakentaa vaikka majan tai kioskin. Rakennelmansa voi laittaa muiden nähtäville.</li>

                    <li> Voi myös laittaa omia kuvia mökkirannastaan ja keskustella asiasta.</li>
                    <li>linkki online norppavideoon (näitä ei ole Pielisellä mutta tärkeä yhteinen vesistöihin liittyvä asia)</li>
                    <li>linkki ympäristöuutisiin ja Saimaan vesistöön yleistilaan tai mihin tahansa vesistöasiaan</li>
                    <li>ranta-asukkaan/rannalla asujan ekologiset valinnat vesistö huomioiden</li>

                    <li>palvelut järven ympärillä: Nurmes, Lieksa, Koli, Juuka ja Pielisjoen alkupään paikat. </li>
                    <li>hyvät kalapaikat ja kalan ostopaikat</li>
                </ul>
                Faktatiedon ja todellisuuden ympärille rakennettua "hauskuutettua" tietoa ja ympäristöstä huolehtimista. Paikallisuutta ja ekologisia toimia esiintuoden. 

            </p>
            <ul>
                <li><a href="https://www.karjalainen.fi/uutiset/uutis-alueet/maakunta/item/179799">Pielisen pinta nousee</a></li>
                <li><a href="https://yle.fi/uutiset/3-6719054">Ja laskee</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/sovellus3.png" class="img-thumbnail" style="margin-top: 20px" />
        </div>
        <div class="col-md-8">
            <h3 id="sovellus3">Päiväkotiappi</h3>
            <p>
                Sovellus 1-6-vuotiaiden päiväkoti-ikäisten lasten vanhemmille ja päiväkodin henkilökunnalle. Visuaalinen ja informoiva. Vaipat loppu -nappula, kurahousut pesuun -nappula, muistutus, torkutus. 
                Valokuvien lähetys vanhemmille päiväkotipäivästä,  Joku peli lisäksi perheen yhdessä pelattavaksi?
                <p> Päiväkoti voi lähettää yleisesti ajankohtaisia linkkejä ja neuvoja liittyen lapsen kehitysvaiheisiin, 
                lähteenä vaikka MLL. Vanhemmat  ei tohdi tai ymmärrä päiväkodissa käydessään aina kysyä asioista. Vastaavasti hoitaja voi olettaa vanhempien jo tietävän tai ei vain yksinkertaisesti ehdi kertoa asioista.</p>
            </p>
            <ul>
                <li><a href="https://www.touhula.fi/blogs/aamuilla-ja-iltapaivilla-on-valia-kuusi-kaytannon-vinkkia-arjen-siirtymiin/">Päiväkotiarkea</a></li>
                <li><a href="https://yle.fi/uutiset/3-7786763">Arjen pulmia</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/sovellus4.png" class="img-thumbnail" style="margin-top: 20px" />
        </div>
        <div class="col-md-8">
            <h3 id="sovellus4">Flowering</h3>
            <p>
                Valitun kasvin säännöllinen hoito eri valinnoilla, vahva yhteys todelliseen kasvien hoitoon
                <ul>
                    <li>voi säätää kasvuolosuhteet ja valita sopivan hoidon niihin</li>
                    <li>pelissä leikkimielinen, retrohenkinen tyyli, värikäs visuaalinen
                    <li>kannustava, hyvää mieltä tuottava ajankuluappi</li>
                </ul>
                <p>
                    Lopputulos eri tavoin kukkiva kukka ja siitä palkitseminen; hieno diblomi taustakuvaksi. Epäonnistunut: kertominen mikä meni väärin ja kun teet näin onnistut.
                    Kaverin kanssa voi verrata onnistumistaan, kuka onnistuu valinnoillaan parhaiten, minkävärinen kukka tuli kenelläkin. Näkisin jopa kaupallisen yhteistyön mahdollisuuden: 
                    palkitsemiskohdassa palkintona vaikka toimituskuluttomat nettiostokset (kova juttu tällä alalla) tai ostoksien yhteydessä joku etu tai lisälahja.                 
            </p>
            <ul>
                <li><a href="https://www.viherpeukalot.fi/kasvit">Esimerkkiyhteistyöyritys tuotemyynti</a></li>
                <li><a href="https://www.kekkila.fi/tuotteet/?cat=lannoitteet">Lannoite- ja kasvienhoitotuotteet</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/sovellus5.png" class="img-thumbnail" style="margin-top: 20px" />
        </div>
        <div class="col-md-8">


            <h3 id="sovellus5">Eskappi</h3>
            <p>
                Eskarin/alakoululaisen ja vanhempien rutiineihin oppimispeli.
                Perhe saa määritellä yhdessä tärkeät opeteltavat asiat: aamupalan syönti, hampaiden pesu, roskien vienti, ruokien maistelu, lemmikkien hoito tms. Palkinnot saa perhe määritellä myös itse: tietystä suorituksesta saa vaikka
                peliaikaa 10 min, joskus vanhempien pitää hassutella tai leikkiä lapsen kanssa 15 min. tai mitä ikinä keksiikään. Pelattava päivittäin (kun kuitenkin jotain pelataan). Seurattava linkki johonkin yhteiseen ajankohtaiseen
                ikäryhmälle kuuluvaan asiaan, esim vaikka pandanetti tai norppanetti tai vaikka yhteinen koodaustuokio. Tavoitteena siis yhdessä sovittavien asioiden helpottaminen: niistä sopiminen, rutinointi, seuranta ja palkitseminen.
            </p>
            <p> Eskarin maailma on täynnä uutta opeteltavaa, yhtäkkiä taaperosta tuli koululaisen alku, jolla on paljon opeteltavaa. Vanhemmankin pitää muistaa asia ja tukea lasta kehityksessä. </p>
            <ul>
                <li><a href="https://www.oppijailo.fi/eskari-esikoulu-esiopetus-mista-siina-on-kyse/">Eskarin maailmasta</a></li>            
            </ul>
        </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="~/images/sovellus6.png" class="img-thumbnail" style="margin-top: 20px" />
            </div>
            <div class="col-md-8">

                <h3 id="sovellus6">Lounasaika</h3>
                <p>
                    Sovellus rakentaa sinulle viikoittaisen lounaslistan ravintoympyrä suositusten mukaan antamiesi sijaintitietojen (miten kaukana haluaa lounastauolla käydä)  ja omien mieltymyksiesi mukaan.  Ravintolat syöttävät yksinkertaisen
                    käyttöliittymän kautta sovellukseen lounaslistansa. Sovellus tarjoaa kirjautuneelle käyttäjälle ruokaympyrä suositusten mukaisesti vaihtoehtoja lounastarjonnasta: Mitä sinun olisi hyvä syödä tällä viikolla. Sovellus huomio suosituksista
                    poikkeamat (jos käyttäjä merkitsee ne) ja osaa tarjota uutta vaihtoehtoa, jotta suosituksissa pysytään.
                </p>
                <ul>
                    <li><a href="https://www.raflaamo.fi/fi/joensuu">Raflaamo,</a>S-ryhmän Joensuun oma palvelu</li>
                    <li><a href="https://www.lounaat.info/joensuu">lounaat.info,</a> lähes kuvailemani palvelu</li>
                    <p>Ravintoympyrä yhteys puuttuu ja visuaalisesti sivusto on sekava.</p>
                </ul>
            </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/sovellus7.png" class="img-thumbnail" style="margin-top: 20px" />
                </div>
                <div class="col-md-8">


                    <h3 id="sovellus7">Joensuun tapahtumasovellus</h3>
                    <p>
                        Webissä ja mobiilisti toimiva alusta ja parilla klikkauksella käyttäjä näkee, mitä tapahtuu Joensuussa juuri tänään tai huomenna. Myöhemmät tapahtumat vaativat aikamäärityksen. Ei vaadi kirjautumista toimiakseen.  Nykyinen tapahtumatieto
                        on Joensuussa hajallaan. Pienenpien järjestäjien tapahtumista ei tietoa tahdo löytyä mistään. Kaupungissa ei ole riittävän 
                        yksinkertaista järjestelmää johon kaikki erilaisia tapahtumia järjestävät toimijat voisivat keskitetysti ilmoittaa asiansa. Paljon hyviä tapahtumia jää huomiotta.
                        Tapahtumajärjestäjälle helppo käyttöliittymä, millä ilmoittaa tapahtumansa palveluun. Tapahtuman voi kävijä myös "vuotaa" palveluun, jos tapahtumaa ei siellä vielä ole.
                    </p>
                    <ul>
                        <li><a href="https://tapahtumat.joensuu.fi/fi-FI">Joensuun tapahtumakalenteri</a></li>
                        <p>Jo olemassaoleva, uudennäköinen palvelu. Ideani kaltainen, mutta missä tapahtumat? Ei löydy esim. Botanian viikoittaisia tapahtumia, tai pienempiä yhdistysten järjestämiä asioita, jotka löytyy heidän omilta Facebook -sivuilta. Sivuilla on 
                        myös paljon ylimääräistä, majoitusta ja kokousta, joita voi aloitteleva tapahtumanjärjestäjä säikähtää. Markkinat -hakusanalla ei löytynyt muuten Joensuun markkinoiden aikataulua. </p>
                       <p>Pitäisikö sivuston aihe ollakin Joensuun pikkutapahtumat, niin esim kotikirppiksen tai yhdistyksen myyjäisten pitäjä rohkenisi julkaista tapahtumansa?</p>
                    </ul>
                </div>
                </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/sovellus8.png" class="img-thumbnail" style="margin-top: 20px" />
                </div>
                <div class="col-md-8">


                    <h3 id="sovellus8">OnlineBussi</h3>
                    <p>
                        Mobiilisovellus, joka näyttää valitsemasi bussin numeron mukaan bussin kulkeman reitin onlinena pysäkeittäin. Joensuun paikallisbussit kulkevat pääsääntöisesti puolen tunnin välein. Joskus vuoroja on useampi peräkkäin ja toisinaan
                        kelit vaikuttavat aikatauluihin niin, että pysäkillä odottaja elää suuressa epävarmuudessa onko odottamasi bussi jo mennyt vai vasta tulossa. Sovelluksesta näkee myös, jos bussi on jo täynnä tai sinne ei mahdu enää lastenvaunuja.
                    </p>
                    <ul>
                        <li><a href="http://www.joensuu.fi/reitit-ja-aikataulut">Reitit ja aikataulut</a></li>
                        <li><a href="https://joensuu.digitransit.fi">Käytössä oleva online-versio</a></li>
                        <p>Sovelluksen pitäisi olla sellainen, että se toimii parilla näppäisyllä ja aloittaminen pitäisi olla selvempää. Olemassa olevaa sovellusta voinee kehittää.</p>
                    </ul>
                </div>
                </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/sovellus9.png" class="img-thumbnail" style="margin-top: 20px" />
                </div>
                <div class="col-md-8">


                    <h3 id="sovellus9">Tolkku -kuvat järjestykseen</h3>
                    <p>
                        Suomenkielinen tietokonesovellus, joka lajittelee valokuvat valmiiksi kansioihin kuvauspäivämäärän mukaan viikkojärjestykseen, eikä tee yhtään mitään muuta. Ohjelma, joka on NIIN yksinkertainen, jottei 
                        ihmisillä jää enää valokuvat epäjärjestykseen. Helppokäyttöinen sovellus, jolla aloittelijakin onnistuu.
                        Voi määritellä itse paikan, mistä ohjelma lähtee kuvia käsittelemään: esim c:\käyttäjä\valokuvat ja lopputulos on c:\käyttäjä\valokuvat\12_2019 jne. Yksinkertaista. 
                    </p>
                    <ul>
                        <li><a href="https://neptunet.net/2016/06/15/valokuvien-organisointi-kuvat-jarjestykseen/">Organisointiohjelmista</a></li>
                        <li><a href="http://www.mjbpix.com/automatically-move-photos-to-directories-or-folders-based-on-exif-date/">Vastaavan tyylinen ohjelmisto suomenkielisenä.</a></li>            
                    </ul>
                    </div>
 </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/sovellus10.png" class="img-thumbnail" style="margin-top: 20px" />
                </div>
                <div class="col-md-8">

                    <h3 id="sovellus10">Alan XX toiminta digiaikaan</h3>
                    <p>
                        Webbisivut/mobiilisovellus  alalle xx jonka alueella toimivat yritykset ovat hajallaan ja palvelut ja tuotteet kuluttajan kannalta välillä todella hankalasti haettavissa ja ymmärrettävissä. Sovellus luodaan kuluttajannäkökulmasta,
                        mutta tulee palvelemaan valmiina myös alan yrittäjiä.  Oma yritystoiminta on niin työvoimavaltaista ettei koko alan asian ajamiseen riitä resursseja. Facebook -sovellusta osataan käyttää jo näkyvyyden lisäykseen, mutta sen käyttö vaatii
                        kuluttajalta jo toimijan ja vähän toimialan tuntemusta.
                    </p>
                    <p>
                        Myös kilpailutilanne rajoittaa pyrkimyksiä käyttää omia resursseja yhteisen edun hyväksi. Marketit vievät osan alan myynnistä ja tulevat viemään yhä enemmän ellei ko. ala skarppaa
                        ja tee jotain yhteisvoimin. Vaatii ulkopuolisen tahon tekemään tämän työn. Jonkun joka tuntee alan ja näkee kokonaisuuden ja huomioi kuluttajien tarpeet ja tulevaisuuden näkymät.

                    <p> Sovellus tulisi tehdä niin, että sen rakennetta voisi hyödyntää esim. tehtäessä sivustoja erilaisille harrastepiireille lisäten niiden näkyvyyttä.</p>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/sov12.png" class="img-thumbnail" style="margin-top: 20px" />
                    </div>
                    <div class="col-md-8">

                        <h3 id="sovellus11">Lahjakortin osto mobiilisti</h3>
                        <p>
                            Joulun alla nousi esiin tarve mobiilisti ostettavalle lahjakortille. Pienyrittäjillä ei ole resursseja tehdä omaa sovellusta, mutta voisiko olla yhteinen alusta,
                            jota pystyy hyödyntämään useampi siihen vapaaehtoisesti liittynyt yritys.
                        </p>
                        <p>
                            Homma toimii näin: Asiakas haluaa ostaa lahjakortin kampaamo X:ään, mutta ei pääse liikkeeseen sen aukioloaikoina yleisesti alalla käytettyä paperista käsinkirjoitettua lahjakorttia noutamaan. Asiakas menee
                            lahjakortti.xxx -palveluun ja huomaa kyseisen kampaamon olevan siinä mukana. Asiakas valitsee kampaamon, lahjakortin summan ja maksaa verkkopankilla lahjakortin. Lahjakortista tiedonantoajan vastaanottajalle asiakas saa itse valita, joko heti tai
                            haluttuna päivänä tervehdystekstein ja lunastuskoodein. Ohjelma välittää maksun lahjakortista yrittäjälle vastaavin koodein.
                        </p>
                        <p>Käyttäjäyrityksiä voisivat olla yksityiset kampaamot, kauneushoitolat, kukkakaupat, hierontapalvelut tms. pienet toimijat. </p>
                        <p>Netissä on jo vastaavia palveluja, mutta ostettavat lahjakortit ovat lähinnä valtakunnallisiin ketjuliikkeisiin,
                        pienet yksityiset yritykset hukkuisivat sinne sekaan.</p>
                        <ul>
                            <li><a href="https://www.gogift.com/fi-FI/all">gogift.com</a></li>
                            <li><a href="https://nettilahja.fi/lahjakortit?page={page}">nettilahja.fi</a></li>
                        </ul>
                    </div>
                </div>


